.container {
    display: flex;
    align-items: flex-start;
}

.contenido {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}

.table-container {
    width: 30%; /* Ajusta este valor según el tamaño deseado */
    margin: auto; /* Centra la tabla */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.table td, .table th {
    padding: 0.25rem;
    vertical-align: middle;
}

.table {
    font-size: 0.875rem;
    margin: auto;
}

.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}