{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/select.css' %}">
<title>Lista Vertical</title>



<div class="container">
    {% if not request.user.is_ayudante %}
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'Usuario:show_productos_usuario' %}" class="Navegation"> Mis Productos </a></li>
            <li><a href="{% url 'Usuario:show_trueques_usuario' %}" class="Navegation"> Mis Trueques </a></li>
            <li><a href="{% url 'busqueda:listar_Trueques' %}" class="Navegation"> Buscar Trueques </a></li>
            <li><a href="{% url 'Intercambiar_puntos:seleccionar_categoria' %}" class="Navegation"> Intercambiar Puntos </a></li>
            <li><a href="{% url 'Pantalla_principal:Pantalla_principal' %}"> Volver </a></li>
        </ul>
    </div>
    <div class="linea-vertical"></div>
    {% else %}
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'Ayudante:Ver_Trueques_filial' %}" class="Navegation"> Ver Trueques Filial </a></li>
                <li><a href="{% url 'Ayudante:Validar_ticket_usuario' %}" class="Navegation"> Validar Ticket usuario </a></li>
                <li><a href="{% url 'Ayudante:validar_codigo_trueque' %}" class="Navegation active">Validar Código Trueque</a></li>
                <li><a href="{% url 'Pantalla_principal:Pantalla_principal' %}"> Volver </a></li>
            </ul>
        </div>
        <div class="linea-vertical"></div>
    {% endif %}
</div>



{% endblock %}