{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/select.css' %}">
<div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'show_usuarios' %}" class="Navegation">Usuarios</a></li>
            <li><a href="{% url 'show_productos' %}" class="Navegation">Productos</a></li>
            <li><a href="{% url 'show_trueques' %}" class="Navegation">Trueques</a></li>
            <li><a href="{% url 'vista_admin' %}">Volver</a></li>
        </ul>
    </div>
    <div class="linea-vertical"></div>
    <div class="contenido">
        <h1>Lista de Productos</h1>

        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Categoría</th>
                    <th>Foto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.titulo }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.estado }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td><img src="{% static producto.foto_producto.url %}" alt="{{ producto.titulo }}" style="width: 100px; height: auto;"></td>
                    <td>
                        <form method="post" action="{% url 'show_productos' %}">
                            {% csrf_token %}
                            <input type="hidden" name="producto_id" value="{{ producto.id }}">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}